body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.front {
	width: auto;
	height: 60px;
	/* line-height: 50px; */
	background-color: #FFF8D7;
	font-size: large;
}

.front h4 {
	/* margin: 20px; */
	margin-top: 20px;
	margin-left: 80px;
	float: left;
	color: #EAC100;
}

.frontRight {
	float: right;
	margin-top: 20px;
}

.frontRight a {
	/* margin-left: 20px; */
	margin-right: 15px;
	padding-right: 25px;
	border-right: 1px solid #EAC100;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.frontRight a:hover {
	color: #FFDC35;
}

.frontRight span {
	color: #EAC100;
	margin-right: 10px;
	margin-left: 10px;
	font-size: larger;
	padding: 8px;
	padding-bottom: 0;
	border: 1px solid #EAC100;
	border-radius: 50%
}



.button-status {
	margin-top: 20px;
	margin-bottom: 20px;
}


.button-status button:hover {
    background-color: #003740; /* 悬停时的背景颜色 */
}

.button-status  button {
	background-color: #B15A5E;
	color: white;
	border: none;
	padding: 10px 20px;
	margin-right: 10px;
	cursor: pointer;
	 border-radius: 20px;
}



.formbutton {
	background-color: #DA9679;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid #003740;
}

th, td {
	padding: 8px;
	text-align: left;
}

th {
	background-color: #D4B572;
	color: #003740;
}

tbody tr:nth-child(even) {
	background-color:#ffdab9;
}

tbody tr:hover {
	background-color: #B15A5E;
}
#readMoreDiv {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #003740;
    background-color: #D4B572;
    max-width: 30%; 
    margin: 0 auto; /* 居中 */
}

#readMoreDiv form {
    margin-bottom: 20px;
}

#readMoreDiv div {
    margin-bottom: 10px;
}

#readMoreDiv label {
    font-weight: bold;
    color: #003740;
}

#readMoreDiv input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #003740;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

#readMoreDiv hr {
    border: none;
    border-top: 1px solid #003740;
    margin-top: 20px;
}


/* 付款按鈕樣式*/
