/* 鼠標移動導覽列*/
.nav-item :hover {
  color: rgb(255, 128, 128);
  cursor: pointer;
  background-color: #B15A5E;
  border-radius: 10px;
}

.navbar a {
  color: #ff2600a2;
  border-radius: 10px;
}


.navbar {
  padding: 1rem 2rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-color: #D4B572;
}

.nav-item {
  padding: 0 20px 0 0;
}

.nav-link {
  font-size: 1.9rem;
  font-weight: 900;

}


.dropdown-item,
.dropdown-menu {
  background-color: #B15A5E;
  color: #BF3F41;
  ;
  margin: 0;
}






.dropdown-menu a {
  color: white;
  ;
  text-decoration: none;
  display: block;
  text-align: left;
}